@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif, "Times New Roman", Times, serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
  width: 100vw;
}

.header {
  background-color: #fff;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 12px;
  padding-left: 24px;
}

.head-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: 1/2;
}

.top-left {
  grid-column: 1/2;
}

.top-right {
  justify-self: end;
  padding-right: 23%;
}
.head-bottom {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#search {
  width: 340px;
  height: 32px;
  border-radius: 24px;
  border: none;
  background-color: #eae9e9;
}

.bottom-left {
  grid-column: 1/2;
}

img {
  width: 24px;
  height: 24px;
}

a {
  text-decoration: none;
  color: #fff;
}

.icons {
  margin-top: 12px;
  padding-left: 65%;
}

.btn {
  width: 20%;
  padding: 12px;
  background-color: rgb(78, 78, 118);
  border-radius: 22px;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.btn:active {
  outline: none;
}

.btn:hover {
  background-color: rgb(61, 61, 247);
}

.aside {
  background-color: rgb(95, 95, 117);
  grid-column: 1/2;
  grid-row: 1/4;
  color: white;
  display: grid;
  grid-template-rows: 10% 2fr 3fr;
  padding-left: 12px;
  padding-top: 12px;
}

.aside ul li {
  list-style-type: none;
  margin-top: 12px;
}

.boxes {
  background-color: #eae9e9;
  gap: 12px;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3% 3fr;
  padding: 22px;
}
.box-headers {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: end;
  font-size: 20px;
}
.right-head {
  padding-left: 2.5%;
}
.projects {
  grid-column: 1/3;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 20px;
}

.box {
  border-left: 4px solid #db8712;
  border-radius: 6px;
  padding: 6px;
  background-color: #fff;
}

.right-aside {
  display: grid;
  grid-template-rows: 1fr 8% 1fr;
  grid-row: 2/4;
}

.trending-header {
  align-self: end;
  font-size: 20px;
  padding-bottom: 4px;
}

.announcements,
.trending {
  background-color: #fff;
  padding: 8px;
  border-radius: 6px;
  display: grid;
  gap: 8px;
}

h3 {
  margin-bottom: 8px;
}
