.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
  width: 100vw;
}

.header {
  background-color: purple;
  grid-row: 1/2;
}

.aside {
  background-color: blue;
  grid-column: 1/2;
  grid-row: 1/4;
}
.boxes {
  background-color: gray;
  gap: 12px;
  grid-row: 2/4;
}
